
application/config/development/
application/config/production/
application/config/testing/

license.txt
plan/

htdocs/pro/
htdocs/google/
htdocs/test/
htdocs/mobile/
htdocs/robots.txt
htdocs/sitemap.xml
htdocs/.htaccess

node_modules/

nbproject/private/
*.xcf

htdocs/env_pro
application/logs/
### https://raw.github.com/github/gitignore/766e2a1f6276219fed1f18f11508261adbcb8257/CodeIgniter.gitignore

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/


