@charset "utf-8";
@import "../lib/less/mixins.less";

@import "./md.less";
@import "./xs.less";

@border-d: solid 1px #dddddd;

h1.page-title {
    font-size: 37px;
    margin-top: 5px;
}

h2 {
    font-size: 35px;
}


.navbar {
    li.img {
        padding-top: 8px;
        >img {
            border-radius: 10px;
        }
    }
}

#wrapper {
    >.container {
        padding-bottom: 40px;
    }
}

img.log-img {
    height: 1.2em;
}

#topjumbo.jumbotron {
    border: @border-d;
    padding: 10px 30px 20px;
    background: white;
    overflow: auto;
    p.description {
        font-size: 16px;
    }
    .tweet-btn {
        float: right;
    }
}
span.strong-s {
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0,.1);
}

.sub-title {
    font-size: 20px;
}

.table-games {
    td.name {
        a {
            display: block;
        }
    }
    td.count {
        text-align: right;
    }
}

#word-list-box {
    .row.row-word {
        >div {
            float: left;
            width: 12.5%;
            padding: 0;
            border-left: @border-d;
            height: 28px;
            >input {
                text-align: center;
                font-size: 13px;
                line-height: 27px;
                border: none;
            }
            &:last-child {
                border-right: @border-d;
            }
        }
        &:first-child {
            >div {
                border-top: @border-d;
            }
        }
        .wordbox {
            width: 100%;
        }
    }
}

.margin-v {
    margin-top: 10px;
    margin-bottom: 10px;
}

.plate {
    width: 100%;
    border: @border-d;
    border-radius: 3px;
    &.plate-game {
        padding: .5em 10px;
        .name {
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 0;
            .over-text-wrap;
            .index {
                &:after {
                    content: '.';
                    padding-right: 5px;
                }
            }
        }
        .description {
            margin-bottom: 0;
        }
    }

    &.plate-search {
        padding: 10px;
        overflow: auto;
        label {
            text-align: right;
        }
        .control-label {
            margin-top: 10px;
        }
    }
}

.timer {
    color: gray;
    vertical-align: middle;
    >div {
        font-size: 27px;
    }
    height: 3em;
}

.counter {
    font-size: 27px;
}

.over-text-wrap {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.control-box {
    padding: 10px;
    .control-forms {
        padding-top: 10px;
        #answer-form {
            width: 50%;
            display: inline;
        }
    }
    .plate {
        display: table;
        text-align: center;
        font-family: monospace;
    }
}

#make-form {
    input#input_game_name {
        width: 20em;
    }
    #num {
        font-size: 20px;
        margin: 5px;
    }
    input#input_words_unit {
        width: 5em;
    }
}


table.table-words {
    border: @border-d;
    border-collapse: separate;
    @brv: 3px;
    border-radius: @brv;
    tbody {
    }
    tr {
        border-collapse: collapse;
        td {
            padding: 5px 0px !important;
            border-top: @border-d;
            border-left: @border-d;
            text-align: center;
            width: 12.5%;
            height: 34px;
            &.ng {
                color: red;
            }
            &.ok {
/*                color: #00CC10; */
/*                box-shadow: inset 0 -2px 1px; */
            }
            &.emp {
                background: #dddddd;
            }
        }
        &:first-child {
            td {
                border-top: none;
            }
        }
        td:first-child {
            border-left: none;
        }
    }
}

#check-name {
    margin-left: 45px;
}

.qa {
    &.qa-q {
        font-size: 24px;
        &:before {
            content: "Q.";
        }
    }
    &.qa-a {
        &:before {
            content: "A.";
            font-size: 24px;
        }
    }
}
.color-error {
    color: red;
}
.color-success {
    color: lime;
}

.over-text-wrap {
}
.float-left {
    float: left;
}
