@charset "utf-8";
@import "../lib/less/mixins.less";

@main_color: #FFFB00;
@sub_color: #FFC201;
@accent_color: #25B9FF;
@font_main_color: @sub_color - #aaa;
@font_link_color: @accent_color;
@border_d: solid 1px #dddddd;

html, body {
    background: @main_color + #aaa;
    color: @font_main_color;
}
a {
    color: @font_link_color;
}
h1.page-title {
    font-size: 37px;
    margin-top: 5px;
}

h2 {
    font-size: 35px;
}

.deco_inbox(@col: @sub_color) {
    @size_in: 8px;
    box-shadow: -@size_in -@size_in 10px (@col) inset, @size_in @size_in 10px (@col) inset;
}

.navbar {
    color: @font_main_color;
    a {
        color: @font_main_color;
    }
    background: @main_color;
    li.img {
        padding-top: 8px;
        >img {
            border-radius: 10px;
        }
    }
}

#wrapper {
    >.container {
        padding-bottom: 40px;
    }
}

img.log-img {
    height: 1.2em;
}

#topjumbo.jumbotron {
    background: @main_color + #666;
    .deco_inbox(@sub_color + #333);
    border: @border_d;
    border-color: white;
    padding: 10px 30px 20px;
    border-radius: 10px;
    overflow: auto;
    p.description {
        font-size: 16px;
    }
    .tweet-btn {
        float: right;
    }
}
span.strong-s {
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0,.1);
}

.sub-title {
    font-size: 20px;
}

.table-games {
    td.name {
        a {
            display: block;
        }
    }
    td.count {
        text-align: right;
    }
}

#game-info {
    padding: 20px;
}

.help-div {
    width: 70%;
    float: left;
}

#word-list-box {
    .row.row-word {
        >div {
            float: left;
            width: 12.5%;
            padding: 0;
            border-left: @border_d;
            height: 28px;
            >input {
                text-align: center;
                font-size: 13px;
                line-height: 27px;
                border: none;
            }
            &:last-child {
                border-right: @border_d;
            }
        }
        &:first-child {
            >div {
                border-top: @border_d;
            }
        }
        .wordbox {
            width: 100%;
            position: relative;
        }
        .delete-btn {
            position: absolute;
            right: 2px;
            top: 2px;
            padding: 0 7px;
            font-size: 10px;
        }
    }
}

.margin-v {
    margin-top: 10px;
    margin-bottom: 10px;
}

.plate {
    width: 100%;
    border: @border_d;
    border-radius: 3px;
    background: @main_color + #ccc;
    &.plate-game {
        padding: .5em 10px;
        .name {
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 0;
            .over-text-wrap;
            width: 100%;
            .index {
                &:after {
                    content: '.';
                    padding-right: 5px;
                }
            }
        }
        .description {
            margin-bottom: 0;
        }
    }

    &.plate-search {
        padding: 10px;
        overflow: auto;
        label {
            text-align: right;
        }
        .control-label {
            margin-top: 10px;
        }
    }
}

.timer {
    color: gray;
    vertical-align: middle;
    border-top-left-radius: 0;
    >div {
        font-size: 27px;
    }
    height: 3em;
}

div.description {
    font-size: 20px;
    overflow: auto;
    > p {
        float: left;
    }
    > div {
        float: right;
    }
}

.counter {
    font-size: 27px;
}

.over-text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.control-box {
    padding: 10px;
    .control-forms {
        padding-top: 10px;
        #answer-form {
            width: 50%;
            display: inline;
        }
    }
    .plate {
        display: table;
        text-align: center;
        font-family: monospace;
    }
}

#make-form {
    input#input_game_name {
        width: 20em;
    }
    #num {
        font-size: 20px;
        margin: 5px;
    }
    input#input_words_unit {
        width: 5em;
    }
}


table.table-words {
    border: @border_d;
    border-collapse: separate;
    @brv: 3px;
    border-radius: @brv;
    tbody {
    }
    tr {
        border-collapse: collapse;
        td {
            padding: 5px 0px !important;
            border-top: @border_d;
            border-left: @border_d;
            text-align: center;
            width: 12.5%;
            height: 34px;
            color: black;
            &.ng {
                color: red;
            }
            &.ok {
            color: blue;
/*                color: #00CC10; */
/*                box-shadow: inset 0 -2px 1px; */
            }
            &.emp {
                background: #dddddd;
            }
        }
        &:first-child {
            td {
                border-top: none;
            }
        }
        td:first-child {
            border-left: none;
        }
    }
    &.table-soeasy {
        tr {
            td {
                &:first-letter {
                    color: red;
                }
            }
        }
    }
    &.table-typing {
        tr {
            td {
                color: black;
                &.ok {
                    color: green;
                    box-shadow: 0 0 10px lime inset;
                }
            }
        }
    }
}

#check-name {
    margin-left: 45px;
}

.qa {
    &.qa-q {
        font-size: 24px;
        &:before {
            content: "Q.";
        }
    }
    &.qa-a {
        &:before {
            content: "A.";
            font-size: 24px;
        }
    }
}

.aborted-list {
    .word {
        font-size: 20px;
        font-weight: bold;
        &:before {
            content: "\"";
        }
        &:after {
            content: "\"";
        }
    }
    .game-name {
    }
}

.rank-box {
    .sub-title {
        font-size: 27px;
    }
    ul.item-rank {
        font-size: 18px;
        .text {
            .over-text-wrap;
        }
    }
    .rank-1 {
        font-size: 28px;
    }
    .rank-2 {
        font-size: 24px;
    }
    .rank-3 {
        font-size: 20px;
    }
}

.color-error {
    color: red;
}
.color-success {
    color: lime;
}

.float-left {
    float: left;
}

.tag-box {
    padding: 10px;
    overflow: auto;
    >span {
        float: left;
        &:first-child {
            margin-right: 1em;
        }
    }
}

.tag {
    padding: 2px 9px;
    background: @sub_color;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 0px (@sub_color - #333),0 0 3px (@sub_color - #aaa) inset;
    margin-right: 5px;
    >a {
        color: white;
/*        display: block; */
    }
    .badge {
        padding: 2px 6px 2px;
        margin-left: 6px;
    }
}

#tag-check {
    margin-top: 0.5em;
}

.timer-set {
    width: 80%;
    border: @border_d;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    #timer-toggle-btn {
        border-radius: 0;
    }
    #timer-input {
        padding: 0 5px;
        height: 22px;
        border: none;
        text-align: right;
    }
    .input-group-addon {
        line-height: 3px;
        border-radius: 0;
    }
    &[disabled] {
        #timer-input {
            background: gray;
            color: #333;
        }
        .input-group-addon {
            background: gray;
            color: #333;
        }
    }
}

.game-mode-box {
    padding-bottom: 10px;
    @br: 3px;
    .ruby-btn {
        background: @sub_color;
        color: white;
        border: @border_d;
        border-bottom: none;
        border-radius: @br @br 0 0;
        padding: 3px 10px;
    }
    a.btn {
        &.active, &.disabled {
            opacity: 1;
            box-shadow: 0 -10px 5px -8px @sub_color inset, 0 10px 5px -8px @sub_color inset;
        }
        &:first-child {
            border-top-left-radius: 0;
        }
    }
}


/* override */
.btn-primary {
    background: @sub_color;
    &:active {
        background: @sub_color;
    }
    &:hover {
        background: @sub_color - #333;
    }
    &.disabled,[disabled] {
        background: @sub_color;
    }
}

.btn-success {
    background: @accent_color;
    &:active {
        background: @accent_color;
    }
    &:hover {
        background: @accent_color - #333;
    }
    &.disabled,[disabled] {
        background: @accent_color;
    }
}


.table-hover {
    tbody {
        tr {
            &:hover>td,&:hover>th {
                background: @sub_color;
            }
        }
    }
}

.nav-tabs-gamelist {
    li > a {
        padding-top: 0px;
        padding-bottom : 0px;
    }
    .sub-title {
        padding-bottom: 10px;
    }
}

i {
    margin-right: 3px;
}

.checkbox {
    >label {
        padding-right: 10px;
        input[type=checkbox] {
            margin-left: -14px;
        }
    }
}
.input-add-box {
    margin-bottom: 10px;
}

@import "./md.less";
@import "./xs.less";
